/* everything relating to main website. */
html {
  background-color: #FAF6F6;
  font-family: Georgia, serif
}

.title-bar h1 {
  position: fixed;
  text-align: center;
  background-color: #BDA18A;
  width:100%;
  top:0px;
  margin:0px;
  padding:0px;
}

.welcome-title {
  margin-top: 5%;
}

.hidden {
  display: none;
  transition: 0.5s;
}

.App {
  text-align: center;
  margin-top: 3.5em;
  transition: 0.3s;
}

/* Navigation bar syling */
.side-nav {
  height: 100%;
  width: 20%; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #ecbbbb; 
  overflow-x: hidden; 
  padding-top: 3em;
  transition: 0.3s;
  margin-right: 2em;
}

.nav-button {
  background-color: #BDA18A;
  border: none;
  position: fixed;
  top: 0px;
  font-size: 24px;
  margin-left: 5%;
}

.closebtn {
  background-color: #ecbbbb;
  border: none;
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

.nav-links {
  list-style-type: none;
  padding: 0.5em;
  margin-left: 2em;
}

.nav-links a:visited, .nav-links a {
  color: black;
  text-decoration: none;
  font-size: 2em;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #FAF6F6;
  transition: 0.3;
}

.login-form form {
  text-align: center;
}

.login-form input[type="submit" i] {
  margin-top: 0.4em;
  padding: 0.5em;
}

/* everything relating to article pages below */
.article {
  margin-top: 5%;
}

    /* Make them have image thumbnail on left, text on right */
.article-card {
  margin: 2em 1em 2em 3em;
  border: 1px solid black;
  background-color: #ECC8B9;
}

.article-card a, .article-card a:visited {
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.article-card a:hover {
  color: black;
  transition: 0.5s;
}

/* styling for user page */
.bookmark-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#bookmark-title h1 {
  text-align: center;
  margin-bottom: 0%;
  margin-top:0%;
  font-variant: small-caps;
  font-size: 3em;
}

.bookmark-browser { 
  border: 1px solid black;
  background-color: #ECC8B9;
  overflow-y: scroll;
  display:inline-block;
  min-width: 80vw;
  max-width: 80vw;
}

.bookmark-card img {
  justify-content: left;
}

.bookmark-card text {
  text-justify: auto;
  padding: 0px;
  overflow: unset;
}

.bookmark-card {
  border: 1px solid black;
  margin: 2px;
}

a.bookmark_link {
  color: black;
  text-decoration: none;
}

.profile {
  margin-top: 5%;
  margin-left: 5%;
}

.user-show {
  display: inline-block;
  padding: 0.5em;
  text-align: justify;
  border: 1px solid black;
  background-color: #ECC8B9;
  width: 80vw;
}

.user-show a, .user-show a:visited {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  margin: 1em;
}

.user-show a:hover {
  color: #FAF6F6;
  transition: 0.3s;
}

.twitIcon {
  height: 25px;
}

#edit-user-form input {
  margin: 0.2em;
  border-radius: 4px;
}

#sign-up-form {
  padding-left: 5em;
}

#sign-up-form input, .login-form input {
  border-radius: 4px;
  padding: 0.2em;
}

#sign-up-form input[type="submit" i] {
  font-size: large;
  justify-content: right;
  margin-top: 0.2em;
}

#sign-up-form p, h3 {
  margin:1%;
}

#sign-up-form label {
  font-size: larger;
  margin: 0.5em;
  padding: 0.2em;
}

.post-thumb {
  float: left;
  display:block;
  margin-left: 1em;
}

.post-thumb img {
  max-width: 800px;
  max-height: 400px;
}

.post-comments {
  margin-left: 3em;
}

.post-comments h2 {
  border-bottom: 1px solid black;
}

a:visited.bookmark-link, a.bookmark-link {
  color: black;
  text-decoration: underline;
  font-size: 1.5em;
}

.bookmark-link {
  color: black;
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
}

.article-li {
  margin-left: 1em;
}

.ticker-box {
  float: left;
  border: 1px solid black;
  width: 28vw;
  max-height: 80vh;
  overflow-y: scroll;
  margin-left: 4%;
}

.ticker-title {
  position: sticky;
  top: 0;
  margin: 0px;
  background-color: #BDA18A;
}

.div-box {
  border-bottom: 1px solid black;
}

.div-box a, .div-box a:visited {
  text-decoration: none;
  color: black;
}

#ticker-div {
  display: flex;
}

.user-list {
  list-style-type: none;
  text-align: left;
  font-size: larger;
  margin-left: 1em;
  transition: 0.5s;
}

.user-list li{
  margin-bottom: 1em;
}

.user-list a:visited, .user-list a {
  color: black;
}

.bookmarker {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 10%;
}