.title-bar h1 {
  position: fixed;
  text-align: center;
  background-color: #818181;
  width:100%;
  top:0px;
  margin:0px;
  padding:0px;
}

.hidden {
  display: none;
  transition: 0.5s;
}

.App {
  text-align: center;
  /* Maybe change the font family before deployment. */
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 250px;
  transition: 0.3s;
}

.side-nav {
  height: 100%;
  width: 250px; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.3s;
}

.nav-button {
  background-color: #818181;
  border: none;
  position: fixed;
  top: 0px;
  font-size: 24px;
  margin-left: 5%;
}

.nav-links a, a:visited {
  color: #818181;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f1f1f1;
}

.closebtn {
  background-color: #818181;
  border: none;
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

.article {
  border: 1px solid black;
  width: 65%;
  margin: 2px;
  margin-left: 20%;
}

.article-card {
  margin: 10px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.8);
}

/* .artile-card text {
  make them all inline with image on left, text on right of image
} */

.article-card a, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #818181;
  transition: 0.5s;
}

.article-card a:hover {
  color: black;
  transition: 0.5s;
}

.login-form {
  border: 1px solid white;
  color:white;
}

.bookmark-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.bookmark-browser { 
  position: relative;
  margin:4px, 4px; 
  padding:4px; 
  background-color: #818181; 
  width: 600px; 
  height: 200px; 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  border: 3px solid black;
  border-radius: 5px;
} 

.bookmark-card {
  border: 1px solid black;
  margin: 2px;
}

a.bookmark_link {
  color: black;
  text-decoration: none;
}