.user-interaction {
  margin: 1em;
}

/* styling for user page */
.bookmark-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#bookmark-title h1 {
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
  font-variant: small-caps;
  font-size: 3em;
}

.bookmark-card img {
  justify-content: left;
}

.bookmark-card text {
  text-justify: auto;
  padding: 0px;
  overflow: unset;
}

.bookmark-card {
  border: 1px solid black;
  margin: 2px;
}

a.bookmark_link {
  color: black;
  text-decoration: none;
}

#edit-user-form input {
  margin: 0.2em;
  border-radius: 4px;
}

.post-thumb img {
  max-height: 200px;
}

.post-link a,
.post-link a:visited {
  color: black;
}

.post-comments h2 {
  border-bottom: 1px solid black;
}

.comment-show h4,
.comment-show p {
  margin: 0.3em;
}

a:visited.bookmark-link,
a.bookmark-link {
  color: black;
  text-decoration: underline;
  font-size: 1.5em;
}

.bookmark-link {
  color: black;
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
}

.ticker-box {
  float: left;
  border: 1px solid black;
  width: 28vw;
  max-height: 80vh;
  overflow-y: scroll;
  margin-left: 4%;
}

.ticker-title {
  position: sticky;
  top: 0;
  margin: 0px;
  background-color: #bda18a;
  border-bottom: 1px solid black;
}

.thumbnail {
  float: left;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  width: auto;
}

.div-box {
  border-bottom: 1px solid black;
}

.div-box a,
.div-box a:visited {
  text-decoration: none;
  color: black;
}

#ticker-div {
  display: flex;
}
